In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("Telco_Customer_Churn_Dataset.csv")

In [3]:
for col in df:
    df.rename(columns={col:col.lower()},inplace=True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerid        7043 non-null   object
 1   gender            7043 non-null   object
 2   seniorcitizen     7043 non-null   int64
 3   partner           7043 non-null   object
 4   dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   phoneservice      7043 non-null   object
 7   multiplelines     7043 non-null   object
 8   internetservice   7043 non-null   object
 9   onlinesecurity    7043 non-null   object
 10  onlinebackup      7043 non-null   object
 11  deviceprotection  7043 non-null   object
 12  techsupport       7043 non-null   object
 13  streamingtv       7043 non-null   object
 14  streamingmovies   7043 non-null   object
 15  contract          7043 non-null   object
 16  paperlessbilling  7043 non-null   object
 17  paymentmethod     7043 non-null   object
 18  monthlycharges    7043 non-null   float64
 19  totalcharges      7043 non-null   object
 20  churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [5]:
df.nunique()

customerid          7043
gender                 2
seniorcitizen          2
partner                2
dependents             2
tenure                73
phoneservice           2
multiplelines          3
internetservice        3
onlinesecurity         3
onlinebackup           3
deviceprotection       3
techsupport            3
streamingtv            3
streamingmovies        3
contract               3
paperlessbilling       2
paymentmethod          4
monthlycharges      1585
totalcharges        6531
churn                  2
dtype: int64

In [6]:
for col in df.columns:
    print(col,":",df[col].unique())

customerid : ['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']
gender : ['Female' 'Male']
seniorcitizen : [0 1]
partner : ['Yes' 'No']
dependents : ['No' 'Yes']
tenure : [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]
phoneservice : ['No' 'Yes']
multiplelines : ['No phone service' 'No' 'Yes']
internetservice : ['DSL' 'Fiber optic' 'No']
onlinesecurity : ['No' 'Yes' 'No internet service']
onlinebackup : ['Yes' 'No' 'No internet service']
deviceprotection : ['No' 'Yes' 'No internet service']
techsupport : ['No' 'Yes' 'No internet service']
streamingtv : ['No' 'Yes' 'No internet service']
streamingmovies : ['No' 'Yes' 'No internet service']
contract : ['Month-to-month' 'One year' 'Two year']
paperlessbilling : ['Yes' 'No']
paymentmethod : ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
monthlycharges : [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
totalcharges : ['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5']
churn : ['No' 'Yes']

In [7]:
for col in df.columns:
    print(col)

customerid
gender
seniorcitizen
partner
dependents
tenure
phoneservice
multiplelines
internetservice
onlinesecurity
onlinebackup
deviceprotection
techsupport
streamingtv
streamingmovies
contract
paperlessbilling
paymentmethod
monthlycharges
totalcharges
churn

customerID is not required for our analysis drop it

In [8]:
df=df.drop("customerid",axis=1)

In [9]:
df1=df.copy(deep=True)

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   seniorcitizen     7043 non-null   int64
 2   partner           7043 non-null   object
 3   dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   phoneservice      7043 non-null   object
 6   multiplelines     7043 non-null   object
 7   internetservice   7043 non-null   object
 8   onlinesecurity    7043 non-null   object
 9   onlinebackup      7043 non-null   object
 10  deviceprotection  7043 non-null   object
 11  techsupport       7043 non-null   object
 12  streamingtv       7043 non-null   object
 13  streamingmovies   7043 non-null   object
 14  contract          7043 non-null   object
 15  paperlessbilling  7043 non-null   object
 16  paymentmethod     7043 non-null   object
 17  monthlycharges    7043 non-null   float64
 18  totalcharges      7043 non-null   object
 19  churn             7043 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 1.1+ MB

No internet service and No phone service is simlar to no. So convert it into No

In [11]:
temp_list=['onlinesecurity','onlinebackup','deviceprotection','techsupport','streamingtv','streamingmovies']
for temp_col in temp_list:
    df1[temp_col]=df1[temp_col].replace('No internet service','No')

In [12]:
for col in df1.columns:
    print(col,":",df1[col].unique())

gender : ['Female' 'Male']
seniorcitizen : [0 1]
partner : ['Yes' 'No']
dependents : ['No' 'Yes']
tenure : [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]
phoneservice : ['No' 'Yes']
multiplelines : ['No phone service' 'No' 'Yes']
internetservice : ['DSL' 'Fiber optic' 'No']
onlinesecurity : ['No' 'Yes']
onlinebackup : ['Yes' 'No']
deviceprotection : ['No' 'Yes']
techsupport : ['No' 'Yes']
streamingtv : ['No' 'Yes']
streamingmovies : ['No' 'Yes']
contract : ['Month-to-month' 'One year' 'Two year']
paperlessbilling : ['Yes' 'No']
paymentmethod : ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
monthlycharges : [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
totalcharges : ['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5']
churn : ['No' 'Yes']

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   seniorcitizen     7043 non-null   int64
 2   partner           7043 non-null   object
 3   dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   phoneservice      7043 non-null   object
 6   multiplelines     7043 non-null   object
 7   internetservice   7043 non-null   object
 8   onlinesecurity    7043 non-null   object
 9   onlinebackup      7043 non-null   object
 10  deviceprotection  7043 non-null   object
 11  techsupport       7043 non-null   object
 12  streamingtv       7043 non-null   object
 13  streamingmovies   7043 non-null   object
 14  contract          7043 non-null   object
 15  paperlessbilling  7043 non-null   object
 16  paymentmethod     7043 non-null   object
 17  monthlycharges    7043 non-null   float64
 18  totalcharges      7043 non-null   object
 19  churn             7043 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 1.1+ MB

We can observe that total charges is in object format convert that to float

In [14]:
df.totalcharges.isnull().sum()

np.int64(0)

In [15]:
df1["totalcharges"]=pd.to_numeric(df1["totalcharges"])

ValueError: Unable to parse string " " at position 488

In [16]:
df1["totalcharges"]=pd.to_numeric(df1["totalcharges"],errors='coerce')

In [17]:
df1.dropna(inplace=True)
df1.isnull().sum()

gender              0
seniorcitizen       0
partner             0
dependents          0
tenure              0
phoneservice        0
multiplelines       0
internetservice     0
onlinesecurity      0
onlinebackup        0
deviceprotection    0
techsupport         0
streamingtv         0
streamingmovies     0
contract            0
paperlessbilling    0
paymentmethod       0
monthlycharges      0
totalcharges        0
churn               0
dtype: int64

Categorical variable encoding

In [18]:
for col in df1.columns:
    print(col,":",df1[col].unique())

gender : ['Female' 'Male']
seniorcitizen : [0 1]
partner : ['Yes' 'No']
dependents : ['No' 'Yes']
tenure : [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26 39]
phoneservice : ['No' 'Yes']
multiplelines : ['No phone service' 'No' 'Yes']
internetservice : ['DSL' 'Fiber optic' 'No']
onlinesecurity : ['No' 'Yes']
onlinebackup : ['Yes' 'No']
deviceprotection : ['No' 'Yes']
techsupport : ['No' 'Yes']
streamingtv : ['No' 'Yes']
streamingmovies : ['No' 'Yes']
contract : ['Month-to-month' 'One year' 'Two year']
paperlessbilling : ['Yes' 'No']
paymentmethod : ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
monthlycharges : [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
totalcharges : [  29.85 1889.5   108.15 ...  346.45  306.6  6844.5 ]
churn : ['No' 'Yes']

In [19]:
df1['gender'] = df1['gender'].map({'Male': 1, 'Female': 0})

In [20]:
for col in df1.columns:
    if df1[col].nunique()<3 and col not in ['gender','seniorcitizen']:#because gender and seniorcitizen is already encoded
        df1[col] = df1[col].map({'Yes': 1, 'No': 0})

In [21]:
# multiplelines : ['No phone service' 'No' 'Yes']
df1['multiplelines'] = df1['multiplelines'].map({'Yes': 1, 'No': 0,'No phone service':2})

In [22]:
# internetservice : ['DSL' 'Fiber optic' 'No']
df1['internetservice'] = df1['internetservice'].map({'DSL': 1, 'Fiber optic': 2,'No':0})

In [23]:
# contract : ['Month-to-month' 'One year' 'Two year']
df1['contract'] = df1['contract'].map({'Month-to-month': 0, 'One year': 1,'Two year':2})

In [24]:
# paymentmethod : ['Electronic check' 'Mailed check' 'Bank transfer (automatic)' 'Credit card (automatic)']
df1['paymentmethod'] = df1['paymentmethod'].map({'Electronic check': 0, 'Mailed check': 1,'Bank transfer (automatic)':2,'Credit card (automatic)':3})

In [25]:
for col in df1.columns:
    print(col,":",df1[col].unique())

gender : [0 1]
seniorcitizen : [0 1]
partner : [1 0]
dependents : [0 1]
tenure : [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26 39]
phoneservice : [0 1]
multiplelines : [2 0 1]
internetservice : [1 2 0]
onlinesecurity : [0 1]
onlinebackup : [1 0]
deviceprotection : [0 1]
techsupport : [0 1]
streamingtv : [0 1]
streamingmovies : [0 1]
contract : [0 1 2]
paperlessbilling : [1 0]
paymentmethod : [0 1 2 3]
monthlycharges : [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
totalcharges : [  29.85 1889.5   108.15 ...  346.45  306.6  6844.5 ]
churn : [0 1]

Outlier detection

In [26]:
def find_outliers_iqr(data, column):
    Q1 = data[column].quantile(0.25)
    Q3 = data[column].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    outliers = data[(data[column] < lower) | (data[column] > upper)]
    return outliers[[column]]

# Example usage:
outliers_monthly = find_outliers_iqr(df1, 'monthlycharges')
outliers_total = find_outliers_iqr(df1, 'totalcharges')
outliers_tenure = find_outliers_iqr(df1, 'tenure')

In [27]:
outliers_monthly

Empty DataFrame
Columns: [monthlycharges]
Index: []

In [28]:
outliers_total

Empty DataFrame
Columns: [totalcharges]
Index: []

In [29]:
outliers_tenure

Empty DataFrame
Columns: [tenure]
Index: []

Conclusion: NO outliers detected

In [30]:
df1.to_csv('cleaned.csv', index=False)